body{
    height: 100vh;
    background: linear-gradient( 110.6deg, rgb(156, 116, 129) -18.3%, rgb(67, 54, 74) 16.4%, rgb(47, 48, 67) 68.2%, rgb(27, 23, 36) 99.1%)!important; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card{
    border-radius: 20px !important;
    box-shadow:  1rem 1rem 0.5rem rgba(0, 0, 0, 0.779);
}
.img-left{
    width: 45%;
    background: url('./../assets/imgs/page\ log.jpg');
    background-size: cover;
    background-size: 20em 25em;
    background-repeat: no-repeat;
    border-radius:20px !important ; 
}
.card-body{
    padding: 2rem;
}
.title{
    margin-bottom: 2rem;
}
.form-input input{
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(119, 45, 110);
    border-radius: 20px;
}
.form-input span{
    padding-left: 15px;
    color: #413d40;
}
.form-input input::placeholder{
    color: rgba(18, 17, 17, 0.532);
    padding-left: 4%;
}
.form-input input:valid{
    border: 2px solid #ec07ca52;
}
.form-text{
    margin-top: -1rem !important;
    margin-left: 19%;
}
.form-box button[type="submit"]{
    width: 75%;
    border-radius: 50px;
    background: #007bffb1;
    color: rgba(12, 11, 11, 0.929);
    font-weight:500;
    letter-spacing: 0.1rem;
    
}
.form-box button[type="submit"]:hover{
    background:  #0069d9; 
}
.forget-link{
    border: none;
    color: #007bff;
    font-weight:400;

}
.forget-link:hover{
    color: #0069d9;
    text-decoration: none;
}