@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;600&family=Poppins:wght@500;600&family=Roboto:wght@100;300;500;700&family=Ubuntu:wght@300;500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.navbar{
  background: #31313168;
  backdrop-filter: satutzte(200%) blur(3px);
}
.nav-link{
color: aliceblue !important;

}
.nav-link.active{
font-weight: bold !important;
scale: 1.2 !important;
/* border-bottom: 3px solid #000; */
}


.navbar-toggler{
  border: none !important;
}

.carousel-item{
  height: 80vh;
  min-height: 300px;
}

.carousel-caption{
  bottom: 220px;
}

.carousel-caption h5{
  width: 60%;
  margin: auto;
  font-size: 41px;
  line-height: 8.9;
  font-family: 'Neuropol X Free', sans-serif;
}

.carousel-caption a{
  text-transform: uppercase;
  text-decoration: none;
  background: darkorange;
  padding: 10px 30px;
  display: inline-block;
  color: #000; 
}
.footer {
  border-top-left-radius: 125px;
}



