@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;600&family=Poppins:wght@500;600&family=Roboto:wght@100;300;500;700&family=Ubuntu:wght@300;500&display=swap");
/* ============ Varibles CSS =============*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.navbar{
  background: #31313168;
  backdrop-filter: satutzte(200%) blur(3px);
}
.nav-link{
color: aliceblue !important;

}
.nav-link.active{
font-weight: bold !important;
scale: 1.2 !important;
/* border-bottom: 3px solid #000; */
}
body {
  overflow-x: hidden;
  /* background: linear-gradient(to top, #dfe9f3 0%, white 100%); */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.hero {
  height: 100vh;
  width: 100%;
  max-height: 800px;
  position: relative;
  background: linear-gradient(
    109.6deg,
    rgb(43, 1, 91) 13.4%,
    rgb(122, 2, 54) 100.2%
  );

}
.hero header .logo h2 a {
  display: block;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  color: white;
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: color 0.3s;
}
.logo img {
  width: 50px;
}






.content {
  padding: 20px 50px;
  height: 100vh;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.content .main-text {
  /* z-index: 2; */
  padding-bottom: 50px;
  width: 50%;
}

.content .main-text h6 {
  font-size: 14px;
  font-weight: 400;
  color: white;
  padding-bottom: 30px;
}

.content .main-text h1 {
  font-size: 45px;
  line-height: 1;
  color: white;
  padding: 0px 0px 30px;
}

.content .main-text h3 {
  margin: 10px 0px;
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.content .main-text p {
  max-width: 100%;
  color: white;
  line-height: 1.8;
  font-size: 14px;
  padding-bottom: 30px;
}

.content .main-text a {
  display: inline-block;
  text-decoration: none;
  color: black;
  background: white;
  border: 1px solid white;
  padding: 19px 16px;
  line-height: 1.4px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
}

.content .main-text a:hover {
  transform: scale(1.2);
  border: 1px solid #f5dca8;
  background: transparent;
  color: white;
  transition: 0.4s;
}

.content .main-text a.cta {
  border: 1px solid #f5dca8;
  color: white;
  background: transparent;

}



.content .main-text a.cta:hover {
  color: black;
  background: white;
  border: 1px solid white;
  transition: 0.4s;
}

.image {
  width: 100%;
  height: 80vh;
  bottom: 0;
  right: 0;
  text-align: right;
  padding-bottom: 50px;
}

.image img {
  height: 95%;
}

.product-inner-box .onsale .badge {
  background: #000;
  font-size: 12px;
  padding: 5px 14px;
  top: 0px;
  position: absolute;
}

.product-inner-box .onsale .badge:before {
  border-width: 10px 0px 0px 10px;
  border-color: transparent transparent transparent #000;
  content: "";
  position: absolute;
  right: -8px;
  width: 0;
  bottom: 0;
  border-style: solid;
}

.product-inner-box .onsale .badge:after {
  border-width: 10px 8px 0px 10px;
  border-color: #000 transparent transparent;
  content: "";
  position: absolute;
  right: -8px;
  width: 0;
  top: 0;
  border-style: solid;
}

.product-inner-box img {
  border-radius: 20px;
  box-shadow: 0 33px 61px -29px rgb(0 0 0 / 26%);
  height: 250px;
  width: 100%;
}

.product-box.is-hover .icons {
  transform: rotateY(-3%);
  top: 3%;
  opacity: 1;
}

.cart-btn {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: all 0.2s ease-in-out, transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}

.product-box.is-hover .cart-btn {
  opacity: 1;
}

.FOOTER{
  background: linear-gradient(
    109.6deg,
    rgb(43, 1, 91) 13.4%,
    rgb(122, 2, 54) 100.2%
  ) !important

 
}
/* .footer {
  border-top-left-radius: 125px;
} */
/* =========  RESPONSIVE ======== */
@media (max-width: 700px) {

  .content {
    /* display: flex; */
    flex-direction: column-reverse;
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .content .main-text {
    width: 90%;
  }
  .image {
    height: 45vh;
    padding: 0%;
  }
  .image img {
    height: 100%;
    width: 100%;
  }

  .content .main-text h6 {
    font-size: 10px;
    padding-bottom: 10px;
  }

  .content .main-text h1 {
    font-size: 22px;
    padding: 0px 0px 15px;
  }

  .content .main-text p {
    color: white;
    font-size: 10px;
    padding-bottom: 10px;
    font-weight: 300;
  }

  .content .main-text a {
    padding: 16px 13px;
    font-size: 12px;
  }
}
#cate{ 
  text-decoration: none;
}
.shadow:hover{
  box-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(60, 55, 76), 0 0 50px rgb(4, 20, 83)  !important;  

}
.card-title{
    text-overflow: ellipsis;
    
    width: 200px;
 
} 

